<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="ServicesSection" type="MainProgram.ServiceConfigurationSection, MainProgram" />
  </configSections>
  <ServicesSection>
    <Services>
    </Services>
  </ServicesSection>
  <appSettings>
    <add key="Test:Environment" value="" />
  </appSettings>
</configuration>