<?xml version="1.0"?>

<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Test:Environment" value="A" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <ServicesSection>
    <Services>
      <add Port="6996" ReportType="File" xdt:Transform="Insert" />
      <add Port="7001" ReportType="Other" xdt:Transform="Insert" />
    </Services>
  </ServicesSection>

</configuration>